<main class="main">
    <app-hero></app-hero>
    
    <app-about></app-about>

    @defer (on viewport) {
        <app-services></app-services>
        <app-steps></app-steps>
        <app-cta></app-cta>
        <app-portfolio></app-portfolio>   
    } @placeholder {
        <div class="py-5 text-center">Cargando contenido...</div>
    }
  
    @defer (on viewport; prefetch on idle) {
        <app-pricing></app-pricing>
        <app-faq></app-faq>
        <app-contact></app-contact>
    } @placeholder {
        <div class="py-5 text-center">...</div>
    }

</main>