<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="./img/logo.webp" alt="logo">
        <h1 class="sitename">DavidOrega.dev</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active" (click)="onNavLinkClick()">Inicio</a></li>
          <li><a href="#about" (click)="onNavLinkClick()">Sobre mí</a></li>
          <li><a href="#services" (click)="onNavLinkClick()">Servicios</a></li>
          <li><a href="#steps" (click)="onNavLinkClick()">Metodología</a></li>
          <li><a href="#portfolio" (click)="onNavLinkClick()">Portafolio</a></li>
          <li><a href="#pricing" (click)="onNavLinkClick()">Precios</a></li>
          <li><a href="#faq" (click)="onNavLinkClick()">FAQ</a></li>
          <li><a href="#contact" (click)="onNavLinkClick()">Contacto</a></li>
          <li><a routerLink="/tutorials" (click)="onNavLinkClick()">Tutoriales</a></li>
        </ul>
        <i 
          class="mobile-nav-toggle d-xl-none bi" 
          [class.bi-list]="!isMobileMenuOpen()"
          [class.bi-x]="isMobileMenuOpen()"
          (click)="toggleMobileMenu()">
        </i>
      </nav>
    </div>
  </header>