    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 content-col" data-aos="fade-up">
            <div class="content">
              <div class="agency-name">
                <h5>Java | Springboot | Angular | Oracle | AWS </h5>
              </div>

              <div class="main-heading">
                <h1>Ingeniero de <br>Software</h1>
              </div>

              <div class="divider"></div>

              <div class="description">
                <p>
                  Ingeniero de Software con Master en Ingeniería de Software con más de 7 años de experiencia en
                  desarrollo Full-Stack, especializado en Java Spring Boot, Angular y Laravel. Combino experiencia
                  práctica con conocimientos académicos avanzados para crear soluciones empresariales
                  robustas y escalables. Mi enfoque es crear soluciones que sean eficientes, escalables y fáciles de
                  mantener.
                </p>
              </div>

              



              <div class="cta-button">
                <a href="#portfolio" class="btn">
                  <span>Ver Portafolio</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-5" data-aos="zoom-out">
            <div class="visual-content">
              <div class="fluid-shape">
                <img src="./img/logo.webp" alt="Abstract Fluid Shape" class="fluid-img">
              </div>

              <div class="stats-card">
                <div class="stats-number">
                  <h2>7+</h2>
                </div>
                <div class="stats-label">
                  <p>Años de Experiencia</p>
                </div>
                <div class="stats-arrow">
                  <a href="#about"><i class="bi bi-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Hero Section -->
