    <!-- Hero Section -->
    <section id="hero" class="hero section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 content-col" data-aos="fade-up">
              <div class="content">
                <div class="agency-name">
                  <h5>Estrategia Digital</h5>
                </div>

                <div class="main-heading">
                  <h1>Diseño <br>Creativo</h1>
                </div>

                <div class="divider"></div>

                <div class="description">
                  <p>Descubre estrategias innovadoras para comunicar visualmente de manera impactante. Transformamos ideas en realidades convincentes, asegurando que tu marca se destaque en un mercado concurrido. Nuestro equipo dedicado utiliza técnicas de vanguardia para entregar resultados excepcionales que resonan con tu audiencia.</p>
                </div>

                <div class="cta-button">
                  <a href="#services" class="btn">
                    <span>Explorar Servicios</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-5" data-aos="zoom-out">
              <div class="visual-content">
                <div class="fluid-shape">
                  <img src="./img/logo.webp" alt="Abstract Fluid Shape" class="fluid-img">
                </div>

                <div class="stats-card">
                  <div class="stats-number">
                    <h2>5K</h2>
                  </div>
                  <div class="stats-label">
                    <p>Procesos Exitosos</p>
                  </div>
                  <div class="stats-arrow">
                    <a href="#portfolio"><i class="bi bi-arrow-up-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- /Hero Section -->